body {
  color: #12b9c3;
  background-color: #003f58;
}
a {
  color: #12b9c3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
#logo {
  width: 100px;
}
#price {
  font-size: 110%;
  font-weight: bold;
}
#coin-calc {
  padding: 20px;
  background-color: #003c4f;
  text-align: center;
}
#coin-calc .form-group {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#confirm {
  text-align: center;
  background-color: #2aabd2;
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  color: black;
}
#confirm a {
  color: black;
}
