<div id="page-dev-bank">
    <h2>Dev Bank {{ " - " + bankBalance }} ETH</h2>

    <p>This page is for development purpose and is designed to give you test ETH for using this site.</p>

    <p>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input class="form-control" type="text" id="amount" ng-model="item.amount" placeholder="Amount"/>
    </div>
    <button class="btn btn-danger" ng-click="deposit(item.amount)">Deposit</button>
    <button class="btn btn-primary" ng-click="withdraw(item.amount)">Withdraw</button>
    </p>


</div>