<div id="page-wallet" ng-cloak>
    <h2>Wallet</h2>
    <h3>You Currently have {{ balance }} BBICO</h3>
    <div id="coin-calc">
        <p>Current BBICO price is <span id="price">{{ currentPrice }} ETH</span></p>
        <div class="form-group">
            <label for="ethAmount">ETH</label>
            <input type="number" id="ethAmount" ng-model="ethAmount" class="form-control" ng-change="updatePrice(ethAmount)" />
            <button class="btn btn-primary" ng-click="buy()">GET {{ tokenAmount }} BBICO</button>
        </div>
    </div>

    <div id="confirm" ng-show="displayConfirm">
        <h3>Confirm Purchase</h3>

        <p>You are about to purchase  <strong>{{ tokenAmount }} BBICO at {{ ethAmount }} ETH</strong></p>

        <p>If you're running this in your wallet browser, then click the button below to confirm.</p>
        <p>Are you sure you want to continue?</p>
        <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
        <a ng-click="cancel()">Cancel</a>
        <hr />
        <p>If you're not in your wallet browser, then you can use your own wallet to buy tokens. The details are:</p>
        <div class="key-value">
            <div class="key">Contract Address</div>
            <div class="value">{{ contractAddress }}</div>
        </div>
        <div class="key-value">
            <div class="key">ETH Amount</div>
            <div class="value">{{ ethAmount }}</div>
        </div>
        <div class="key-value">
            <div class="key">Data</div>
            <div class="value">{{ buyTokenData }}</div>
        </div>


    </div>

    <div id="confirm-data" ng-show="displayConfirmData">
        <h3>Confirm Purchase</h3>

        <p>You need to send the   <strong>{{ ethAmount }} ETH</strong> to the following address: </p>

        <p class="contract-address">{{ contractAddress }}</p>
        <p class="contract-data">{{ buyTokenData }}</p>

    </div>
</div>
