<div id="page-coin-admin">
    <h2>Coin Settings / admin</h2>
    <div>
        <p><b>NOTE: This admin section requires you to be the owner of the contract.  If you are not, none of the following actions
            will work.</b></p>

        <p>DEV MODE ONLY:  While in testing mode, you can call takeOwnership (at the bottom of this page) for testing.</p>

    </div>

    <div class="row">
        <div class="key-value col-md-3">
            <div class="key">Price per ETH</div>
            <div class="value">{{ price }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Total Supply</div>
            <div class="value">{{ totalSupply }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Name</div>
            <div class="value">{{ name }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Symbol</div>
            <div class="value">{{ symbol }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">ETHER Balance</div>
            <div class="value">{{ ethBalance }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Tokens Sold</div>
            <div class="value">{{ tokensSold }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Tokens Remaining</div>
            <div class="value">{{ tokensRemaining }}</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Minimum Purhcase</div>
            <div class="value">{{ minPurchase }} ETH</div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Paused / Running</div>
            <div class="value">
                <span class="label label-danger" ng-show="paused === true">Paused</span>
                <span class="label label-success" ng-show="paused !== true">Running</span>
            </div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Purchases Enabled</div>
            <div class="value">
                <span class="label label-success" ng-show="purchasesEnabled === true">Enabled</span>
                <span class="label label-danger" ng-show="purchasesEnabled !== true">Disabled</span>
            </div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Whitelist Status</div>
            <div class="value">
                <span class="label label-success" ng-show="whitelistEnabled === true">Enabled</span>
                <span class="label label-danger" ng-show="whitelistEnabled !== true">Disabled</span>
            </div>
        </div>

        <div class="key-value col-md-3">
            <div class="key">Owner</div>
            <div class="value" id="owner">
                {{ owner }}
            </div>
        </div>

    </div>


    <div class="row admin-action">
        <h3>Price Update</h3>
        <div class="form-group">
            <label for="newPrice">Price in ETH</label>
            <input class="form-control" type="number" id="newPrice" ng-model="item.newPrice" placeholder="Price in ETH"/>
        </div>
        <button class="btn btn-primary" ng-click="setPrice(item.newPrice)">Set Price</button>
    </div>

    <div class="row admin-action">
        <h3>Set Minimum Purchase Amount</h3>
        <div class="form-group">
            <label for="minAmount">Min. Purchase in ETH</label>
            <input class="form-control" type="number" id="minAmount" ng-model="newMinAmount" placeholder="Min. in ETH"/>
        </div>
        <button class="btn btn-primary" ng-click="setMinPurchase(newMinAmount)">Set Minimum</button>
    </div>

    <div class="row admin-action">
        <h3>Pause ICO <span class="label label-danger" ng-show="paused === true">Paused!!</span>  <span class="label label-success" ng-show="paused === false">Running</span> </h3>
        <p>Pausing the ICO stops any user from calling the following: </p>
        <ul>
            <li>approve</li>
            <li>transfer</li>
            <li>transferFrom</li>
            <li>increaseApproval</li>
            <li>decreaseApproval</li>
        </ul>
        <p>Do you want to pause the ICO.  WARNING, this will effect all your customers!!</p>
        <p>
            <button ng-click="pause()" class="btn btn-danger btn-lg" ng-show="paused !== true">Pause ICO</button>
            <button ng-click="unpause()" class="btn btn-primary btn-lg" ng-show="paused === true">Unpause ICO</button>
        </p>
    </div>

    <div class="row admin-action">
        <h3>Purchases <span class="label label-success" ng-show="purchasesEnabled === true">Enabled</span>  <span class="label label-danger" ng-show="purchasesEnabled === false">Disabled</span> </h3>
        <p>Disabling purchases stops people calling buyTokens</p>
        <p>
            <button ng-click="enablePurchases(true)" class="btn btn-primary btn-lg" ng-show="purchasesEnabled !== true">Enable Purchases</button>
            <button ng-click="enablePurchases(false)" class="btn btn-danger btn-lg" ng-show="purchasesEnabled === true">Disable Purchases</button>
        </p>
    </div>

    <div class="row admin-action">
        <h3>Withdraw Ether from ICO</h3>
        <p>This function has to be run as the OWNER. This will withdraw all the ether that is contained in the ICO contract.</p>
        <p><strong>WARNING:</strong> You'll have to deposit ETH to do refunds.</p>
        <p>
            <button ng-click="withdrawEth()" class="btn btn-danger btn-lg">Withdraw ETH from ICO</button>
        </p>
    </div>
    
    <div class="row admin-action">
        <h3>Refund User</h3>
        <p>This will refund the user the specified number of tokens and ETH.  This will not refund the users whole allocation unless you specify their whole amount.</p>
        <div class="form-group">
            <label for="userAddress">User Address</label>
            <input class="form-control" type="text" id="userAddress" ng-model="refundItem.userAddress" placeholder="User Address e.g. 0xac89b7s..."/>
        </div>
        <div class="form-group">
            <label for="tokenAmount">Token Amount</label>
            <input class="form-control" type="number" id="tokenAmount" ng-model="refundItem.tokenAmount" placeholder="Token Amount"/>
        </div>
        <div class="form-group">
            <label for="ethAmount">ETH Amount</label>
            <input class="form-control" type="text" id="ethAmount" ng-model="refundItem.ethAmount" placeholder="ETH Amount"/>
        </div>

        <button class="btn btn-primary" ng-click="refund(refundItem)">Refund</button>
    </div>

    <div class="row admin-action">
        <h3>Whitelist
            <span class="label label-success" ng-show="whitelistEnabled === true">Enabled</span>
            <span class="label label-danger" ng-show="whitelistEnabled !== true">Disabled</span>
        </h3>
        <p>The whitelist can be enabled and disabled.</p>
        <p>
            <button class="btn btn-primary btn-lg" ng-show="whitelistEnabled !== true" ng-click="enableWhitelist()">Enable Whitelist</button>
            <button class="btn btn-danger btn-lg" ng-show="whitelistEnabled === true" ng-click="disableWhitelist()">Disable Whitelist</button>
        </p>

        <p>When the whitelist is enabled only users on the whitelist will be able to perform the following:</p>
        <ul>
            <li>approve</li>
            <li>transfer</li>
            <li>transferFrom</li>
            <li>increaseApproval</li>
            <li>decreaseApproval</li>
        </ul>
        <div class="row">
            <div class="form-group col-lg-9">
                <label for="whitelistAddress">User Address</label>
                <input class="form-control" type="text" id="whitelistAddress" ng-model="whitelistAddress" placeholder="User Address e.g. 0xac89b7s..."
                    ng-change="checkWhitelistStatus(whitelistAddress)"
                />
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <p>
            <span class="label label-success whitelist-label" ng-show="showCheckResult && userWhitelistStatus === true">{{ checkAddress || "User" }} is in the Whitelist</span>
            <span class="label label-danger whitelist-label" ng-show="showCheckResult && userWhitelistStatus !== true">{{ checkAddress || "User"}} is NOT the Whitelist</span>
        </p>

        <button class="btn btn-default" ng-click="checkWhitelistStatus(whitelistAddress)">Check Status</button>
        <button class="btn btn-primary" ng-click="addToWhitelist(whitelistAddress)">Add To Whitelist</button>
        <button class="btn btn-danger" ng-click="removeFromWhitelist(whitelistAddress)">Remove From Whitelist</button>
    </div>

    <div class="row admin-action">
        <h3>Custom Price</h3>
        <p>A custom price can be set for each user.  If price is set to 0, then the default price is used.</p>
        <div class="row">
            <div class="form-group col-lg-9">
                <label for="customerPriceAddress">User Address</label>
                <input class="form-control" type="text" id="customerPriceAddress" ng-model="customerPriceAddress" placeholder="User Address e.g. 0xac89b7s..."
                    ng-change="checkPriceForCustomer(customerPriceAddress)"
                />
            </div>
            <div class="form-group col-lg-9">
                <label for="newCustomerPrice">Custom Price</label>
                <input class="form-control" type="number" id="newCustomerPrice" ng-model="newCustomerPrice" placeholder="Price in ETH"/>
            </div>
        </div>
        <p>
            <span class="label label-success whitelist-label" ng-show="showPriceCheckResult === true">Custom Price is {{ customPrice }} ETH/Token</span>
        </p>

        <button class="btn btn-default" ng-click="checkPriceForCustomer(customerPriceAddress)">Check Current Price</button>
        <button class="btn btn-primary" ng-click="setPriceForCustomer(customerPriceAddress, newCustomerPrice)">Set Custom Price</button>
    </div>
</div>